In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

# This is a peer comparison project. Suppose that you are working for Samsung in customer experience management team. The idea is to regularly monitor the customer satisfaction levels and peer company moves. The competitor company is Apple. The objective is to test two main hypothesis.

In [3]:
df = pd.read_csv("C:/python_casestudies/Basic Stats Case Study_2/Testing_Of_Hypothesis.csv")
df.head()

   Sr No S_Cust_id  Samsung Score Apple_Cust_id  Apple_Score
0      1   S336499             94       A336525           82
1      2    S73004             99        A73011           83
2      3    S79537             74        A79538           88
3      4   S769168             74       A769222           80
4      5   S609791             83       A609801           74

# 1. The Samsung Average customer satisfaction score is minimum 75%.

In [7]:
mean_sat = df['Samsung Score'].mean()
mean_sat

84.9

In [8]:
per_sat = 0.75 * 84.9
per_sat

63.675000000000004

In [ ]:
#H0 : samsung satisfaction = 75%
#Ha : samsung satisfaction < 75%

In [12]:
#perform the t-test
stats.ttest_1samp(df['Samsung Score'], 63.675000000000004 )

Ttest_1sampResult(statistic=17.91966173190184, pvalue=7.714674273163621e-33)

# conclusion :
The p value is 7.714674273163621e-33 
Since the significance value of the test is less than 0.05, we reject the null hypothesis. 
#Therefore Samsung Average Customer Satisfaction Score is not equal to 75%. 

Hence the hypothesis The Samsung Average customer satisfaction score is minimum 75% is wrong

# 2. The overall average satisfaction score of Samsung is same as Apple. There is no significant difference in the satisfaction scores

In [13]:
#print the average 
print('Mean_sams_score :', df['Samsung Score'].mean(), '| Mean_Apple_score :', df.Apple_Score.mean())

Mean_sams_score : 84.9 | Mean_Apple_score : 87.81

In [14]:
#H0 : satisfaction score of Samsung = satisfaction score of apple.
#Ha : satisfaction score of Samsung != satisfaction score of apple.
# CI = 95% | p-value = 0.05

In [15]:
#perform T-test
stats.ttest_ind(df['Samsung Score'],  df.Apple_Score)

Ttest_indResult(statistic=-1.9064295935043472, pvalue=0.058042614444118075)

# Conclusion :

For the above test, the p-value is 0.058042614444118075 > 0.05. So,  We fail to reject null hypothesis

we can safely conclude that The overall average satisfaction score of Samsung is same as Apple. There is no significant difference in the satisfaction scores. 
Hence the hypothesis The overall average satisfaction score of Samsung is same as Apple. There is no significant difference in the satisfaction scores is correct